body {
    font-family: 'Inconsolata', monospace;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: 6px;
    /*border: 1px solid var(--success);*/
}

::-webkit-scrollbar-thumb:active {
    background: var(--secondary);
    /*border: 1px solid var(--danger);*/
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.text-initial {
    font-size: initial;
    color: white !important;
}

.card-border {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--success), var(--danger));
}

.card-border:hover {
    cursor: pointer;
}